@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700;900&display=swap');
html,body {
    margin: 0px;
    overflow-x:hidden;
    * {
    font-family: 'Roboto','Noto Sans KR',sans-serif!important;
    color: #000;
    font-weight: 500;
    }
    strong {
        font-weight: 700;
    }
    font-size: 16px;
    @media (max-width:1340px) {
        //min-width:1130px;
        & {
            font-size: 15px;
        }
    }
    @media (max-width:1130px) {
        font-size: 13px;
    }
    @media (max-width:@mob-width) {
        min-width:0;
            & {
            font-size: 14px;
        }
    }
    @media (max-width:@phone-width) {
        min-width:0;
        & {
            font-size: 14px;
        }
    }
}

p {
    line-height: 1.5em;
    word-break: keep-all;
}

//color
@grey:#eee;
@darkgrey:rgb(78, 78, 78);

@pad:2rem;
@marg:1.75rem;
@border: 2px solid #000;
@pc-width:100%;
@com-width:calc(~"100% - 4rem");
@com-mob-width:calc(~"100% - "@pad);

//fontweight
@black:900;
@med:700;
@light:500;

@mob-width:980px;
@low-width:980px;
@phone-width:479px;

@pcw:@mob-width + 1;
@pc:~"(min-width:@{pcw})";
@mobile:~"(max-width:@{mob-width})";
@phone:~"(max-width:@{phone-width})";
@ios:~"only screen and (-webkit-device-pixel-ratio : 2)";

//font
@font_small:1rem;
@font_med:1.3rem;
@font_large:1.8rem;

//function
video::-webkit-media-controls-fullscreen-button {
    display: none;

}

.sc-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    video {
        width: 100%;
        height: 100%;
    }
    &.full-vid {
        position: fixed;
        z-index: 999999999999999;
        background: #000;
    }
    .vid_meta {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        //opacity: 1;
        transition: 0.2s all;
        background-color: rgba(0,0,0,0.25);
        &.paused {
            //opacity:0;
            .vid_playbtn{
                background-image:url(http://ewhamoviefesta.kr/wp-content/uploads/2020/06/1-3.png) !important;
            }
            // &:hover{
            //     opacity:1
            // }
        }
        .vid_play {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            .vid_playbtn {
                font-size: @font_large*1.5!important;
                width: 1em;
                height: 1em;
                padding: 0.5em;
                box-sizing: content-box;
                background: url(http://ewhamoviefesta.kr/wp-content/uploads/2020/06/1-1.png) center center no-repeat;
                background-size: contain;
                cursor: pointer;
                transition:0.2s all;
                opacity:1;
                
            }
        }
        .fullscreen {
            position: absolute;
            top: 0.5em;
            right: 0.5em;
            left: auto;
            font-size: @font_large!important;
            width: 1em;
            height: 1em;
            padding: 0.2em;
            box-sizing: content-box;
            background: url(/wp-content/uploads/2020/06/1-2.png) center center no-repeat;
            background-size: 1em;
            background-color:transparent;
            cursor: pointer;
        }
    }
}
.mobile_font_small {
    font-size: @font_small;
    @media @mobile {
        font-size: @font_med;
    }
}
.com_width {
    width:@com-width;
    @media @mobile {
        width: @com-mob-width!important;
    }
}

//팝업
.pum-container {
    z-index: 99999!important;
}
.pum-close {
    color: rgba(0,0,0,0)!important;
    background: url(/wp-content/themes/divi-child/img/axe.svg) center center no-repeat!important;
    background-size: @font_large auto!important;
    box-shadow: none!important;
    text-shadow: none!important;
}

//햄버거
#responsive-menu-button {
    font-size: @font_large!important;
    width: (@font_large + @pad*0.5)!important;
    height: 2em!important;
    top: 0!important;
    right:@pad!important;
    background: transparent!important;
    @media @mobile{
        right: @pad/2 !important;
    }

    .responsive-menu-box {
        width: 100%!important;
        height: 100%!important;
    }
    .responsive-menu-inner {
        &, * {
            transition: 0.2s!important;
        }
        &,&:before,&:after{
            background-color: #000!important;
            width:100%!important;
            height:5px!important;
            border-radius:0px!important;
        }
    }
    &:not(.is-active) {
        .responsive-menu-inner {
            &:before {top:-0.75rem!important}
            &:after {bottom:-0.75rem!important}
        }
    }
}
#responsive-menu-container {
    padding-top: (5.5rem)!important;
    background: url(/wp-content/uploads/2020/06/mob-log.png) left @pad bottom @pad no-repeat!important;
    background-size: 90px auto!important;
    background-color: #fff!important;

    #responsive-menu-wrapper {
        height: calc(~"100% - 10rem");
        overflow-y: scroll;
    }
    .add_langs {
        position: absolute;
        bottom:6rem;
        right: @pad;
        a {
            font-size: @font_large;
        }
    }
    .add_icons {
        position: absolute;
        bottom: @pad;
        right: @pad;
        height: @font_large;
        a {
            margin-left: 0.5em;
            img {
                width: auto;
                height: @font_large;
            }
        }
    }

    & > div, & > div > div {
        background: transparent!important;
    }

    .responsive-menu-subarrow {
        display: none!important;
    }
    ul {
        li {
            a {
                //text-transform: uppercase!important;
                font-size: @font_large!important;
                color: #000!important;
                background: transparent!important;
                border:0px!important;
                height: auto!important;
                line-height: 1em!important;
                padding:0.25em @pad!important;
            }
        }
        &.responsive-menu-submenu {
            padding: @pad 0!important;
            background: #f8f8f8!important;
            max-height: 50vh;
            overflow-y: scroll;
            z-index: -1;
            li {
                a {
                    font-size: @font_med!important;
                }
            }
        }
    }
}
//레이아웃

//페이지네이션
.wp-pagenavi-css {
    text-align: right!important;
    @media @mobile {
        text-align: center!important;
    }
    border: 0px!important;
    & > .pages {display: none!important;}
    & > a,& > span {
        color: rgba(0,0,0,0.5)!important;
        font-size: @font_med!important;
        text-decoration: none!important;
        padding: 0.5rem;
        margin: 0px;
        &:hover {
            color: #000!important;
        }
    }
    & > span.current {
        color: #000!important;
    }
}
.wp-pagenavi {
    .wp-pagenavi-css();
}
.et_pb_gallery_pagination {
    border: 0px!important;
    ul {
        @media @mobile {
            text-align: center!important;
        }
        li {
            padding: 0.5rem!important;
            &.next > a {
                font-size: 0px!important;
                &:after {
                    content:">";
                    font-size: @font_med!important;
                }
            }
            &.prev > a {
                font-size: 0px!important;
                &:after {
                    content:"<";
                    font-size: @font_med!important;
                }
            }
            & > a {
                font-size: @font_med!important;
                color: rgba(0,0,0,0.5)!important;
                text-decoration: none!important;
                &.active {
                    color: #000!important;
                }
            }
        }

    }
}

#sb_instagram {
    padding-bottom: 0px!important;
    @media @pc {
    margin: 1.5rem auto!important;
    margin-bottom:0 !important;
    }
}
.mob_comwidth {
    @media @mobile {
        & {
            .com_width()!important;
        }
    }
}
.mob_fullwidth {
    @media @mobile {
        & {
            width: 100%!important;
        }
    }
}


.et-menu {
    * {
        transition: 0.1s ease-out!important;
        transition-delay: 0s!important;
        //text-transform: uppercase;
    }
    
    &.nav {
        &:hover > li {
            background: transparent;
            //opacity: 0.3;
            &.et-hover {
                &:not(.disabled) {
                opacity: 1!important;
                }
                &:not(.disabled) > a,a:hover {
                    background: transparent;
                    color: #00D95C!important;
                }
                
            }
        }
    }
    .menu-item-has-children > a:first-child {
        padding: 0px;
        &:after {
            display: none;
        }
    }
}
h1, h2, h3, h4, h5, h6 {
    padding: 0px;
    line-height: 1.1em;
}
.search_header {
    margin-bottom: @marg;
    min-height: 3em;
    line-height: 1.1em;
}
.cat_top_row {
    @col1:65%;
    margin-bottom: @marg!important;
    & > div:nth-child(1) {
        width: @col1;
        margin-right: @marg;
    }
    & > div:nth-child(2) {
        width: calc(~"100% - @{col1} - "@marg);
        .et_pb_code_inner {//분류 설명
            .mobile_font_small();
            word-break: keep-all;
            line-height: 1.5em;
        }
    }
}
.et-pb-slider-arrows {
    & > * {
        color: #fff!important;
    }
}
.et_pb_menu__menu {
    .sub-menu {
        border: @border;
    }
    nav li {
    margin-right:@pad;
    color: #000;
}
}
.et_pb_row, #main-content div.et_pb_section {
    padding: 0px;
}
.col-2 {
    & > div {
        float: left;
        &:nth-child(3) {
            float: none;
            clear: both;   
        }
    }

    @cols:2;
    @c:1/@cols;
    @cw:100%*@c;
    @m:ceil(10*(@pad*(@cols - 1)*@c))*0.1;

    & > div:nth-child(1) {
        width: calc(~"@{cw} - "@m);
        margin-right: @pad;
    }
    & > div:nth-child(2) {
        width: calc(~"@{cw} - "@m);
        margin-right: 0px;
    }
}
.col-4 {
    @cols:4;
    @c:1/@cols;
    @cw:100%*@c;

    @media @pc {
        & > div.et_pb_column {
            width: calc(~"@{cw} - "@pad*(@cols - 1)*@c);
            margin-right: @pad;
        }
        & > div.et_pb_column:last-child {
            margin-right:0px;
        }
    }
}
.col-sidebar {
    @c1: 24rem;
    @c2: calc(~"100% - @{c1}");
    
    clear: both;
    -ms-overflow-style: none;overflow: hidden;
    & > div {
        float: left;
    }
    & > div:nth-child(1) {width:@c1;margin-right:0;}
    & > div:nth-child(2) {width:@c2;}
}

div.et_pb_menu {
    background-color: transparent!important;
}
.et_pb_row, .et_pb_column {
    padding: 0px;
    width: 100%;
    max-width: none;
}
.et_pb_row {
    // clear: both;
    // -ms-overflow-style: none;overflow: auto;
    // .et_pb_column {
    //     float: left;
    // }
}
.et_pb_row_inner {
    //clear: both;
    //-ms-overflow-style: none;overflow: auto;
    .et_pb_column_inner {
        //float: left;
    }
}


.gmap {
    width:100%;
    height: 500px;
}
.search_module {
    @w:36px;
    clear: both;
    -ms-overflow-style: none;overflow: auto;
    & > div {
        width: 100%;
        text-align: right;
    }


}

//헤더
.s_mobile {
    position:fixed;
    height: auto!important;
    top: @font_small - 0.2rem;
    right: 5.2rem;
    @media @ios {
        right: 4.5rem!important;
      }
}
.s_text {
    width: calc(~"100% - @{w} -"@pad);
    box-sizing: border-box;
    border:0px;
    text-align: right;
    @media @mobile {
        text-align: center;
    }
    border-radius: 3px;
    margin-right: @pad;
    padding: 0 @pad;
    .mobile_font_small();
    &:hover {
        background: @grey;
    }
    &::placeholder {
        line-height: 1.2em;
    }
}
.search_module {
    img {
        font-size: @font_med;
        width: auto;
        height: 1.1em;
        margin-top: 0.5em;
        margin-right: 0.5em;
        @media @ios {
            margin-top: 0.7em;
        }
    }
}
.s_sub {
    font-size: @font_med;
    width: 1.1em;
    height: 1.1em;

    @media @mobile {
        & {
            font-size: @font_large;
            margin-top: 0px!important;
        }
    }

    border: 0px;
    background: url(/wp-content/uploads/2020/06/ass-1.png) center center no-repeat;
    background-size: contain;
    margin-top: 0.5em;
    @media @ios {
        margin-top: 0.7em;
    }
}
    #s_ov {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.5);
        z-index: 99999999;
        &.active {
            display: block!important;
        }
        & > div {
            @h:3em;
            @vertical:calc(~"50% - "@h*0.5);
            position: relative;
            top: @vertical;
            bottom: @vertical;
            .com_width();
            max-width: 550px;
            margin: 0 auto;
            * {
                font-size: @font_med;
            }
            .s_text {
                position: absolute;
                height:@h;
                width: 100%;
                left: 0;
                top: 0;
                padding: 0.5em 7/8*@h 0.5em 0;
                box-sizing: border-box;
                background: #fff;
                border: @border;
                border-radius: 0px;
            }
            .s_sub {
                position: absolute;
                width:@h;
                height: @h;
                right: 0;
                top: 0;
                margin: 0px;
                background-size: auto 1.5em;
            }
            .s_exit {
                background: url(/wp-content/themes/divi-child/img/axe.svg) center center no-repeat;
                width: @h*0.5;
                height: @h*0.5;
                bottom: calc(~"100% + 0.5em");
                right: 0px;
                position: absolute;
                background-size: contain;
            }
        }
    }
header {
    & > .et_builder_inner_content {
        z-index:99999;
    }
}
.mob-header {
    @media @pc {
        & {
        display: none!important;
        }
    }
    border-bottom: @border;
    padding: @font_small 0!important;
    box-sizing: content-box;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 9999999;
    height: @font_large;
    & > div,& > div > div,& > div > div > div {
        height:100%;
        .et_pb_image_wrap, .et_pb_image_wrap img {
            height: 100%;
        }
    }
    /*

    .mobile_menu_bar {
        width: @font_large;
        height: @font_large;
        position: relative;
        &:before {display: none;}
        &:after {
            content:"";
            position: absolute;
            width: 100%;
        height: 0px;
        border-bottom: @border;
        top: 0;
        left: 0;
        }
    }
    .et_pb_menu_inner_container {
        height:100%;
        & > div {
            @iconw:(2*@font_large + @pad);
            &:nth-child(1),&:nth-child(2) {
                float:left;
            }
            &:nth-child(1) {
                width: calc(~"100% - "@iconw);
                display: block;
                height:100%;
                * {
                    height:100%;
                }
                .et_pb_menu__logo {
                    margin: 0;
                    img {
                        width: auto;
                        height:100%;
                        margin: 0;
                    }
                }

            }
            &:nth-child(2) {
                width:@iconw;
            }
        }
    }
    .et_pb_column {
        margin-bottom: 0px;
        .mobile_nav {
            z-index: 99999;
            ul.et_mobile_menu, .et_pb_fullwidth_menu .et_mobile_menu {
                position: fixed;
                top: 0;
                width: 100%;
                height: 100%;
                left: 0;
                z-index: -1;
                li.item-has-children {
                    & > a {
                        &:hover {}
                    }
                }
            }
        }
    }
    .et_mobile_nav_menu {
        margin: 0!important;
    }
    .et_pb_menu__icon.et_pb_menu__search-button {
        &:after {
            content:"";
        }
        background: url(/wp-content/uploads/2020/06/ass-1.png) center center no-repeat;
        background-size: contain;
        width: @font_large;
        height: @font_large;
        margin: 0px;
        margin-right: @pad;

    }
    .et_pb_menu__search-container, .et_pb_fullwidth_menu .et_pb_menu__search-container {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.5);
        transition: all 0s ease 0s;
        padding: 0px;
        transition: none!important;
        * {
            transition: none!important;
        }
        & > div {
            .com_width();
            input {
                background: #fff;
                border: @border;
            }
            button {
                width: @font_large;
                height: @font_large;
                background: url(/wp-content/uploads/2020/06/ass-1.png) center center no-repeat;
                background-size: contain;
                &:after {
                    content: "";
                }

            }
        }
    }*/
}
.table_view{
    h3{
        margin-bottom:@pad/2;
    }
    table{
        border-top:2px solid #000;
        border-bottom:2px solid #000;
        tr{
            border-bottom:2px solid #000;
            &:first-child{
                background:#000;
                &, td {
                    color:#fff;
                }
                strong{
                    color:#fff;
                }
            }
            &:last-child{
                border-bottom:none;
            }
            td {
                word-break:keep-all;
                padding-top:1.3rem;

            }
        }
    }
}

.et_pb_section.site-style{
    max-width:1170px !important;
    margin:auto;

    .et_pb_text{
        max-width:100% !important;
    }
    .site-list{
        display:block;
        width:100%;
        &.pc{
            display:block;
            @media @mobile{
                display:none;
            }
        }
        &.mob{
            display:none;
            .site-col{
                width:calc(~"50% - 4px");
            }
            @media @mobile{
                display:block;
            }
        }
        .site-col{
            vertical-align: top;
            display:inline-block;
            width:calc(~"25% - 3px");
            span {
                cursor: pointer;
                &:hover {
                    color: #00D95C;
                }
            }
        }
    }
    .et_pb_column{
        margin-bottom:150px;
        h1{
            margin-top:@pad;
            margin-bottom:@pad/2;
        }
        p{
            font-size:@font_med !important;
        }
    }
}

#floating_bar.eg_header {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    background: #fff;
    border-bottom: @border;

    @media @mobile {
        & {
            display: none!important;
        }
    }
    .s_sub {
        @media @ios {
            margin-top: 0.5em;
        }
    }
    .et-menu {
            margin: 0px;
            & > li {
                font-size: @font_med;
                padding:0.6em 0.1em 0.25em !important;
                margin:0 1.5em 0 0!important;
                &:last-child {
                    margin-right: 0!important;
                }
            }
    }

    & > div {
        & > div {
            @col1:120px;
            @col3:9rem;
            @m:@font_small;
            @mar:@m * 2;
            @col2:calc(~"100% - @{col3} -  @{mar} - "@col1);

            float: left;
            margin-right: @m;
            &:nth-child(1) {
                width: @col1;
                img {
                    font-size: @font_med;
                    width: auto;
                    height: 1.3em;
                    margin-top: 0.45em;
                }
            }
            &:nth-child(2) {
                width: @col2;
            }
            &:nth-child(3) {
                width: @col3;
                margin-right: 0px;
            }
        }
    }
}
.eg_header {
    padding: 0px;
    border-bottom: @border;
    @media @mobile {
        display: none!important;
    }
    .h_top {
        overflow:auto;
        clear: both;
        & > div {

            @col2:400px;
            @col3:260px;

            float:left;
            margin: 0px;
            padding: 1.6rem 2.2rem;
            border-right:@border;
            &:nth-child(1) {
                width: calc(~"100% - "(@col2 + @col3));
                padding-left: 0px;
                img {
                    width: 100%;
                    max-width: 400px;
                    height: auto;
                }
            }
            &:nth-child(2),&:nth-child(3) {
                display: flex;
                align-items: center;
                p {
                    font-size: @font_med;
                    line-height: 1.5em;
                    
                }
            }
            &:nth-child(2) {
                width: @col2;
                text-align: center;
                justify-content: center;

            }
            &:nth-child(3) {
                width: @col3;
                padding-right: 0px;
                border-right: 0px;
                justify-content: flex-end;
                text-align: right;

                p {
                    text-align: right;
                }
            }
        }
    }
    .h_bottom {
        & > div {
            @col2:9rem;
            float: left;
            margin: 0px;
            &:nth-child(1) {
                width: calc(~"100% - "@col2);
            }
            &:nth-child(2) {
                width: @col2;
            }
        }

    }

    nav li {
        display: inline-block;
        margin-right:@pad;
        color: #000;
        padding: 0px;
        padding-top: 5px;
    }


}
div.full_width {
    width: 100%!important;
    max-width: 100%;
}


.schedule-table-2{
    table{
        width:100% !important;
        border-collapse: collapse;
        border-style: hidden;
        margin-top:15px;
        border-top:2px solid #000;
        border-bottom:2px solid #000;
        tr{
            &:first-child{
                background:#000;
                &:hover{
                    td{
                        background:#000;
                    }
                }
                td{
                    color:#fff;
                    
                    &:hover{
                        background:#000 !important;
                    }
                }
            }
           
            &:hover{
                td{
                    background:#14ff77;
                }
            }
            
            td{
                padding:5px 12px;
                border:2px solid #000;
            }
        }
        tbody {
        & > tr {
            &:nth-child(n+2) > td {
                &:hover{
                    background:#14ff77;
                }
                &.nohover {
                    background:transparent;
                }
            }
        }
        }
    }
}

.schedule-table{
    table{
        width:100% !important;
        border-collapse: collapse;
        border-style: hidden;
        margin-top:15px;
        border-top:2px solid #000;
        border-bottom:2px solid #000;
        tr{
            &:first-child{
                background:#000;
                &:hover{
                    td{
                        background:#000;
                    }
                }
                td{
                    color:#fff;
                    
                    &:hover{
                        background:#000 !important;
                    }
                }
            }
            &:nth-child(2){
                &:hover{
                    td:nth-child(1), td:nth-child(2){
                        background:initial
                    }
                }
                background:initial
            }
            &:hover{
                td{
                    background:#14ff77;
                }
            }
            
            td{
                padding:5px 12px;
                border:2px solid #000;
            }
        }
        tbody {
        & > tr {
            &:nth-child(n+2) > td {
                &:hover{
                    background:#14ff77;
                }
                &.nohover {
                    background:transparent;
                }
            }
        }
        }
    }
}

//본문
.detail_section {

    .et_pb_row {
    max-width: @low-width;
    margin: 0 auto;//@font_large
    }
    .full_width {
        width:100%;
        max-width: 100%;
    }

    .slick-arrow {
        display: none!important;
    }
    h1 {
        margin-bottom: 0.5em;
    }
    div.screen-thumb {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.2%;
        background: url() center center no-repeat;
        background-size: contain;
        background-color: #000;

        & > .txt {
            position: absolute;
            top: 0;
            left: 0;
            box-sizing: border-box;
            font-size: @font_large!important;
            font-weight: 900;
            width: 100%;
            height: 100%;
            color: #fff;
            background: rgba(0,0,0,0.25);
            text-align: center;
            padding-top: calc(~"27.5% - 0.75em");
        }
    }
    div.director_container {
        width: 100%;
        & > div {
            width: 100%;
            clear: both;
            -ms-overflow-style: none;
            overflow: visible;
            & > div:nth-child(2) {
                margin-right: 0px;
            }
        }
        .director_wrap {
            width: 100%;
            //min-height:400px;
            margin-right: @pad;
            margin-bottom: @font_large!important;
            -ms-overflow-style: none;overflow: auto;
            
            @media @mobile {
                width: 100%;
                margin-right: 0px;
            }
            .photo {
                float: right;
                width: 350px;
                font-size: @font_med;
                overflow: hidden;
                border: 1px solid #000;

                @media @mobile {
                    width: 100%;
                    margin: 0 auto 1.5em;
                    float: none;
                    
                }
                & > div {
                    width: 100%;
                    max-width: 350px;
                    margin-bottom: 1.5em;
                    margin: 0 auto;

                    & > div {
                        width: 100%;
                        padding-bottom: 125%;
                        height: 0px;
                        background: url() center center no-repeat;
                        background-size: cover;
                    }
                }
            }
            .desc {
                float: right;
                width: calc(~"100% - 350px -"@marg);
                float: left;
                margin-right: @marg;
                &.full {
                    width: 100%;
                    margin-right: 0px;
                }
                @media @mobile {
                    width: 100%;
                    margin-right: 0px;
                }
                p {
                    font-size: @font_small;
                    word-break:keep-all;
                    max-width: 450px;
                    @media @mobile {
                        max-width: 100%;
                    }
                }
            }

            }
    }
}
.entry_section {
    padding: @marg 0px!important;
    @media @mobile {
        //padding-top:5rem!important
    }
    &.detail_section {
        padding-bottom: 0px!important;
    }
}
#main-content {
    min-height: calc(~"100vh - 410px");
    @media @mobile {
        & {
            margin-top:(1*@font_large + @pad);
        }
    }

    div.low_section {
        .com_width();
        max-width: @low-width!important;
        margin: 0 auto;
        & > .et_pb_row {
            margin: 0px!important;
            width: 100%!important;
        }
        h2 {
            line-height: 1.3em;
        }
        @media @mobile {
        .et_pb_text_inner, .et_pb_tab {
            overflow:auto;
            overflow-y:hidden;
            table {
                min-width: 550px;
                    }
            }
        }

    }
    #archive_content {
        div.common_section {
            @media @mobile {
                width: 100%!important;
            }
        }
    }

    div.common_section {
        .com_width();
        max-width: @low-width!important;
        margin: 0 auto;

        @media @mobile {
            .et_pb_text_inner, .et_pb_tab {
                overflow:auto;
                overflow-y:hidden;
                table {
                    min-width: 550px;
                        }
                }
            }

        blockquote {
            border: 0px;
            padding: 0px;
        }
        img {
            margin-bottom: 1rem;
        }

    .et_pb_button {
        border: 0px;
        background: #14ff77;
        color:#000;
        font-size: @font_med;
        text-decoration: none;
        padding: 0.5em 1em;
        border-radius: 0px;
    }
    .et_pb_text {
        width: 100%;
    }
    .et_pb_row {
        width: 100%!important;
    }
    .daily_author {
        &,p {
            margin-bottom: 0px!important;
        }
    }
    p {
        margin-bottom: @font_med;
        line-height: 1.5em;
        span{
            font-size:@font_med !important;
        }
    }
    h2 {
        margin-bottom: 1em;
        &,* {
            font-size: 1.5rem!important;
            line-height: 1.5em;
        }
    }
    ul {
        li {
            font-size: @font_med;
            margin-bottom: 0.5em;
        }
    }
    strong, b {
        font-weight: @black;
    }
    .port_col {
        margin-bottom: @marg;
        .et_pb_text_inner {
            & > * {
                &:nth-child(1),&:nth-child(2) {
                    @media @mobile {
                        text-align: center!important;
                    }
                }
            }
        }
        & > div {
            position: relative;
            margin-bottom: @pad;
            &:nth-child(1) {
                width: 340px;
                margin-right: @marg;
            }
            &:nth-child(2) {
                width: calc(~"100% - 340px - "@marg);
            }
        }
        .portrait {

            width: 100%;
            height:0px;
            margin-bottom: 0px;
            padding-bottom: 130%;
            border:1px solid #000;
            background-size: cover;
            @media @mobile {
                width: 380px;
                height: 510px;
                padding: 0px;
            }
            img {
                display: none;
            }
        }
    }
    table {
        tr {
            & > td {
                padding-bottom: @font_med;
                vertical-align: top;
                font-size: @font_med;
                @media @mobile {
                    font-size: @font_small;
                }
                line-height: 1.5em;
                &:nth-child(1) {
                    width: 8em;
                }
            }
        }
        margin-bottom: @font_large;
    }

    .h_table {
        table {
            width: 100%;
            max-width: 850px;
            tbody > tr {
                &:nth-child(1) {
                    border-bottom: @border;
                }
                & > td {
                    padding: 0.5em 0;
                    padding-right: 1em;
                    &:nth-child(1) {
                        width:auto!important;
                    }
                }
            }
        }
    }
    button.download {
        background: #0A643F;
        color: #fff;
        font-size: @font_med;
        padding: 0.8em 1em 0.9em;
        line-height: 1em;
        cursor: pointer;
        border: 0px;
    }
    p,a,strong {
        font-size: @font_med;
    }
}
    .entry_section {

            p {
                font-size:@font_small;
                padding: 0px;
            }
            // * {
            //     .mobile_font_small();
            //     line-height: 1.5em;
            // }

            a {
                text-decoration: underline;
            }


            h1 {font-size:@font_large;font-weight: 700;}
            h2 {font-size: @font_med;}
            pre {overflow: auto; -ms-overflow-style:none;white-space: pre-wrap;}
            .prog_title {
                h1 {line-height: 1em;}
                
            }

            & > div.et_pb_section {
                padding: @pad 0;
            }
            .et_pb_text {
                margin-bottom: @pad/2 !important;
            }
            .photo {
                margin-bottom: @pad!important;
                max-width: 350px;
                height: 410px;
            }
            
            .et_pb_section {
                & > div {
                    width: 100%;
                }
            }
            .et_pb_contact_form_container {
                .et_pb_contact_main_title {
                    display: none;
                }
                .et-pb-contact-message {
                    p {
                        width: 100%;
                        text-align: left;
                        //padding: 18rem 0;
                        font-size: @font_large;
                    }
                }
                .et_pb_contact_form {
                    margin: 0px;
                    .et_pb_contact_field {
                        width: 100%;
                        * {
                            font-size: @font_med;
                            line-height: 1.5em;
                        }
                        label {
                            display: block;
                            margin-bottom: 0.5em;
                        }
                        input, textarea {
                            border: 1px solid #707070;
                            background: #fff;
                            margin-bottom: 0.75em;
                        }
                
                    }
                    .et_contact_bottom_container {
                        float: none;
                        margin-top: 0.5em;
                        button {
                            margin: 0px;
                            min-width: 150px;
                        }
                    }
                }
            }
        }
        .et_pb_row_0.et_pb_row{
            //margin-bottom:2rem !important;
        }
        .et_pb_text_1{
            // padding-bottom:1rem !important;
        }
        .et_pb_row_0_tb_body.et_pb_row{
            margin-bottom:1rem !important;
        }
        .et_pb_row_1_tb_body.et_pb_row{
            margin-bottom:0 !important;
        }
        .et_pb_row_0_tb_body.et_pb_row{
            margin-top:1rem !important;
        }
}


    .tax_meta {
        & > div {
            
            & > div {
                margin-right: @pad;
                height: 1em;
                display: inline-block;
                line-height: 1em;
                @media @phone {
                    display: block;
                    margin-bottom: 0.5em;
                    height: auto;
                }
            }
            & > div:nth-child(2) {
                width: 50px;
                position: relative;
                @media @phone {
                    display: none;
                }
                &:before {
                    position: absolute;
                    content: "";
                    border-bottom: @border;
                    top: 50%;
                    width: 100%;
                    left: 0;
                }
            }
        }
    }
    .meta {
        & > div > .metas {
            padding: 0px;
            padding-left: @marg;
            border-left: @border;
            @media @mobile {
                & {
                    padding: 0px;
                    border: 0px;
                }
            }
            tbody {
                tr {
                    &:last-child > td {
                        padding-bottom: 0px;
                    }
                }
            }
        }
        & > div > .distributor {
            margin-top: 1rem;
            padding: 0px;
            padding-left: @marg;
            margin-left: 2px;
            p {
                font-weight: bold;
            }
            table {
                border-bottom: @border;
                margin-top: 0.25em;
                tr {
                    border-top: @border;
                    & > td {
                        &:first-child {
                            font-weight: bold;
                        }
                        padding: 0;
                        padding: 0.25em 0px;
    
                    }
                }
            }

            @media @mobile {
                & {
                    padding: 0px;
                    border: 0px;
                    margin-left: 0px;
                }
            }
        }
        table {
            width: 100%;
            tbody > tr {
                
                    & > td:nth-child(1) {
                        width: 120px;
                        padding-right: 1rem;
                    }
            }
        }
        * {
            .mobile_font_small();
            vertical-align: top;
            padding: 0 0 @pad/3;
            line-height:1.5em;
            word-break: keep-all;
        }
    }
.col-content {
    @metaw:380px;
    & > div {
        @media @mobile {
            width: 100%!important;   
        }
    }
    & > div:nth-child(1) {
        width:calc(~"100% - @{marg} - "@metaw);
        margin-right: @marg;
    }
    & > div:nth-child(2) {
        width:@metaw;
    }
    p {
        padding-bottom: 0px;
    }
}

.pum-theme-lightbox {
    .pum-container{
        border:0 !important;
        box-shadow:none !important;
        background:none !important;
        p{
            text-align:center;
        }
        .pum-close{
            background-color:#fff !important;
            border-color:#000 !important;
            background-size:50% !important;
            padding:50px;
        }
    }
}

.pnpost {
    .item {
        width: 100%;
        border-top: @border;
        font-size: @font_med;
        padding: @pad 0;
        clear: both;
        div {
            font-size: @font_med;
        }
        .mob_fullwidth();

        & > a > div {

            margin: 0 auto;
            width: @com-width;
            max-width: @low-width;
            clear: both;
            word-break: keep-all;
            @media @mobile {
                //width: 100%!important;
            }
            @media @phone {
                & {
                    max-width: 100%!important;
                }
                & > div {
                    width: 100%;
                    &:nth-child(1) {
                        margin-bottom: 0.5em;
                    }
                }
            }
            -ms-overflow-style: none;
            overflow: hidden;
            & > div:nth-child(2) {
                text-align: right;
            }
        }
        .title {
            font-size: @font_large;
            line-height: 1.2em;
        }
    }

    .prev {
        padding-left: @marg + @pad;
        background: url(/wp-content/uploads/2020/06/pn.png) left top 0.25em no-repeat;
        background-size: auto 1em;
        @media @phone {
            background-position: left center;
            div {
                text-align: right;
            }
        }

    }
    .next {
        padding-right: @marg + @pad;
        background: url(/wp-content/uploads/2020/06/pn2.png) right top 0.25em no-repeat;
        background-size: auto 1em;
        @media @phone {
            background-position: right center;
            div {
                text-align: left!important;
            }
        }

    }
}

//푸터
footer {
    padding: @pad 0;
    border-top: @border;
    .et_pb_text {
        margin-bottom:@pad!important;
        p, a {
            font-size: @font_med;
        }
    }
}

#menu-bottom-menu>li.menu-item {
    line-height: 1.5em;
    padding: 0px;
    margin:0px;
    margin-right: @marg;
    a {
        color: #000;
        padding:0px;
    }
}

//공용
.et_pb_section {
    width: 100%;
    max-width: none!important;
    & > div {
        .com_width();
        max-width: @pc-width;
        margin: 0 auto;
        padding: 0;
    }
}
#main-content {
    .et_pb_section {
        @media @mobile {
            .et_pb_row {
                .com_width()!important;   
                .et_pb_column {
                    width: 100%!important;
                    margin-right: 0px!important;
                }
                &.full_width,&.cat_list {
                    width:100%!important;
                }
                .et_pb_section {
                    .et_pb_row {
                        width: 100%!important;
                    }
                }
            }
        }
    }
    .notice_list_wrap {
        border-top: @border;
        &.full {
            border: 0px;
            .item {
                
            }
            & > div:last-child { 
                    .item {
                    border: 0px;
                }
            }
        }
        * {
            font-size: @font_med;
            line-height:1.56;
            text-decoration: none;
            @media @mobile {
                line-height: 1.5em;
            }
        }
        .item {
            width: 100%;
            line-height:1.5;
            border-bottom: @border;
            & > div {
                @w1:350px;
                &:nth-child(1) {
                    width: calc(~"100% - "@w1~" - "@marg);
                    margin-right:@marg;
                }
                &:nth-child(2) {
                    width: @w1;
                    * {
                        text-align: right;
                        @media @mobile {
                            text-align: left;
                        }
                    }
                }
                @media @mobile {
                    width: 100%!important;
                    margin-right:0!important;
                    &:first-child {margin-bottom: 0.5em;}
                }
                a,p {
                    padding: @font_med 0;
                    display: block;
                }
            }
        }
    }
}
//메뉴
#menu-main-menu {

}
nav .et-menu {
    
        margin: 0px;
        & > li {
            padding:1em 0em 0.5em 11px !important;
            margin:0 1.5em 0 0!important;
            &:last-child {
                margin-right: 0!important;
            }
        }
    
li.menu-item {
    a {
        color: #000;
        font-size: @font_med;
        @media (max-width:1340px) and @pc {
            font-size: 1.3rem;
        }
        line-height: 1em;
    }
    .sub-menu {
        padding: @font_small;
        box-sizing: border-box;
        min-width: 16*@font_small;
        max-height: 250px;
        overflow-y: auto;
        top: 100%!important;
        left: -0.5*@font_small!important;
        line-height: 2em;
        & > li {
            display: block;
            margin-bottom: 1em;
            padding-top: 0px;
            &:last-child {
                margin-bottom: 0px;
            }
        }
        a {
            padding: 0px;
            .mobile_font_small();
            width: auto;
        }
    }
}
}
//메인
#main-content .main_section {
    
    padding: 0px!important;
    .notice_list_wrap {
        @media @mobile {
            .item {
            padding: @font_med 1rem;
        }
        }
        .item > div{
            p,a {
                padding: @font_med 2rem;
                @media @mobile {
                    padding: 0px;
                }
            }
        }
    }
    .ready {
        width: 100%;
        padding: 3em 0;
        font-size: @font_large;
        text-align: center;
    }
    .marquee_notice {
        margin-bottom: 0px!important;
        border-bottom: @border;
        padding: 0px;
        marquee {
            font-size: @font_med;
            padding: 0.5em 0;
            display: block;
            span {
                margin: 0 2.5em;
            }
        }
    }
    .et_pb_gallery {
        height: 55vw!important;
        @media @mobile {
            & {
                //height: calc(~"100vh - "(@font_large + @pad))!important;
            }
        }
        .et-pb-slider-arrows {
            display: none;
        }

    }
    .sbi_photo_wrap svg {
        display: none!important;
    }
    div.full_width {
            width: 100%!important;
            max-width: 100%;
            &.istitle {
                border-bottom: @border;
                border-top: @border;
                & > div > div {
                    .com_width();
                    max-width: @pc-width;
                    margin: 0 auto!important;
                }
            }

    }
    & > .et_pb_row {
        padding: @pad/2 0;
        .com_width();
        & > div {

        }

        &:last-child {
            border-bottom:0px;
        }
    }
    #sbi_images {
        padding: 0px!important;
        margin: 0 0 0 -0.5*@pad!important;
        width: calc(~"100% + "@pad)!important;

        @media @phone {
            & {
            width: 100%!important;
            margin: 0px!important;
            }
            & > div {
                display: none!important;
                &:nth-child(1),&:nth-child(2) {
                    display: inline-block!important;
                }
            }
        }
    }
    div#sb_instagram #sbi_images .sbi_item {
        padding: 0 0.5*@pad @pad 0.5*@pad!important;
        @media @phone {
            padding: 0 0 0.5*@pad!important;
        }
    }
}
.cat_list  {
    padding: @font_med 0;
    @media @mobile {
        & {
            width:100%!important;
            margin:1em 0 2em !important;
            padding: 0;
        }
    }
    .col-2 {
        
        // .com_width();
        // max-width: @pc-width;
        margin: 0 auto @pad;
        -ms-overflow-style: none;overflow: hidden;
        height: @font_large;
    }
    .cat_header {
        .title {
            @media @phone {
                width: 100%;
            }
                a {
                font-size: @font_med;
                &:after {
                    .title_arrow();
                }
            }
        }
        .cat_arr {
            @media @phone {
                display: none;
            }
            button {
                border: 0px;
                background: transparent;
                width: 2.2rem;
                height: @font_med;
                background: url() center center no-repeat;
                background-size: contain;
                margin-left: @font_med;
                cursor: pointer;
            }
            .prev {
                background-image:url(/wp-content/uploads/2020/06/ass-2.png);
            }
            .next {
                background-image:url(/wp-content/uploads/2020/06/ass-3.png);
            }
        }
    }
    .owl-wrapper {
        .owl-carousel {
            .owl-stage-outer {
                overflow: visible!important;
            }
            .owl-nav, .owl-dots {
                display: none;
            }
            a {
                position: absolute;
                width: 100%;
                height: 100%;
                
            }
            .item {
                height: 0;
                padding-bottom: 50%;
                background: url() center center no-repeat;
                background-size:cover;
                background-color: @darkgrey;
                .date {
                    .mobile_font_small();
                    bottom: 3.65rem;
                    left: 0.5*@font_med;
                    padding: 0.2em 0.5em;
                    position: absolute;
                    background: #fff;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    max-width: 100%;
                }
                .title {
                    padding: 0.4em 0.5em;
                    position: absolute;
                    left: 0.5em;
                    bottom: 0.5em;
                    background-color: #fff;
                    max-width: 65%;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    font-size: @font_med;
                    line-height: 1em;
                }
                * {
                    color:#000;
                }
            }
        }
    }
}

.et_pb_gallery {
    * {
        height: 100%;
    }
    img {
        width:100%;
        height: auto;
        object-fit: cover;
    }
    a {
        text-decoration: none!important;
    }
}
.main_slider {
    max-width: none!important;
    padding: 0px!important;
}
.no_pad {
    padding: 0!important;
}
.title_arrow {
    content: '';
    background: url(/wp-content/themes/divi-child/img/arr_right.svg) center center no-repeat;
    background-size: auto 0.8em;
    width: 1em;
    height: 1em;
    //margin-bottom: -0.1em;
    display: inline-block;
    margin-left: 0.25em;
    transform:translateY(0.1em);
}

.main_section_title {
    p {
        font-size:@font_large;
        &:after {
            font-size: @font_large;
        }
    }
    &.program {
        p {
            color: #00D95C;
            &:after {
                background-image: url(/wp-content/themes/divi-child/img/arr_3.svg);
            }
        }
    }
    &.insta {
        p {
            color: #FF0692;
            &:after {
                background-image: url(/wp-content/themes/divi-child/img/arr_1.svg);
            }
        }
    }
}
.category_items {
    @pad2:@pad/2;
    @col:4;
    @w:100%/@col;
    @h:@w * 0.56;
    @c:(@pad2*(@col - 1)/@col);

    clear:both;

    & > a {
        .item {
            float: left;
            position: relative;
            width: calc(~"@{w} - @{c}");

            height: 0;
            padding-bottom: @h;

            @media @mobile { & {width: calc(@w*2~" - "@pad2*0.5);padding-bottom: @w*2*0.56;}}
            @media @phone { & {width: @w*4;padding-bottom: @w*4*0.56;}}

            margin-right: @pad2;
            margin-bottom: @pad2;

            background: url() center center no-repeat;
            background-size: cover;
            background-color: @darkgrey;
            .date {
                .mobile_font_small();
                bottom: 3.65rem;
                left: 0.5*@font_med;
                padding: 0.2em 0.5em;
                position: absolute;
                background: #fff;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                max-width: 100%;
            }
            .title {
                padding: 0.4em 0.5em;
                position: absolute;
                left: 0.5em;
                bottom: 0.5em;
                background-color: #fff;
                max-width: 65%;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                font-size: @font_med;
                line-height: 1em;
            }
            &.news {
                border: @border;
                padding: 1rem;
                background: transparent;
                height: auto;

                .ntitle {
                    font-size: @font_med;
                    font-weight: @black;
                    padding-bottom: 1rem;
                    margin-bottom: 1rem;
                    border-bottom: @border;
                    text-overflow: ellipsis;
                    overflow-x: hidden;
                }
                .ndesc {
                    font-size: @font_small;
                    margin-bottom: 1em;
                    height: 6.5em;
                    overflow: hidden;
                }
                .nmeta {
                    overflow: auto;
                    -ms-overflow-style: none;
                    width: 100%;
                    & > div {
                        font-size: @font_small;
                        float: left;
                        width: calc(~"50% - 3px");
                        &:nth-child(1) {
                            padding: 0.3em 0;
                            margin-right: 6px;
                        }
                        &:nth-child(2) {
                            overflow: auto;
                            -ms-overflow-style: none;
                            div {
                                float: right;
                                border: 1px solid #000;
                                color: #000;
                                padding: 0.3em 0.8em;
                            }
                        }
                        * {
                            font-size: @font_small;
                        }
                    }
                }
            }
            * {
                color:#000;
            }
        }
        @media @pc { &:nth-child(4n) .item { margin-right:0px; } }
        @media @mobile { &:nth-child(2n) .item { margin-right:0px; }}
        @media @phone { & .item { margin-right:0px; }}

        @media @pc {&:nth-child(4n+1) .item { clear: both; }}
        @media (min-width:(@phone-width + 1)) and @mobile {&:nth-child(2n+1) .item { clear: both; }}
    }
}
.tax_wrap {
    @h:150px;

    position: relative;
    width: 100%;
    overflow: hidden;
    height: @h;
    .slider_wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        white-space: nowrap;

        .item {
            display: inline-block;
            position: relative;
            width: 350px;
            height: @h;
            margin-right: @pad;
            .title {
                padding: 4px 6px 5px;
                position: absolute;
                left: @pad;
                bottom: @pad;
                background-color: #fff;
                max-width: 150px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            * {
                color:#000;
            }
        }
    }

}


//경고창
#click_alert {
    @red:#ff1a1a;
    @redw:#ffcfcf;
    @maxw:850px;

    position: fixed;
    font-size: @font_small;
    opacity: 0;
    bottom: -50%;
    width: calc(~"100% - "@font_large);
    max-width: @maxw;
    padding: 1em;
    border: 1px solid @red;
    color: @red;
    background: @redw;
    text-align: left;
    transition: 0.5s;
    word-break: keep-all;
    line-height: 1.5em;
    z-index: 9999999;
    pointer-events: none;
    right: 1em;
    &.active {
        bottom: 1em;
        opacity: 1;
    }
    &:before {
        content:"이화영상제의 모든 콘텐츠는 저작권자의 동의 없는 복제나 이용을 금합니다. 불법 다운로드, 녹화, 외부 유출/유포, 2차 가공 등의 저작권 침해 행위 발생 시 법적 조치하도록 하겠습니다.";
    }
}

div.selectbox {
    position: relative;
    font-size: @font_med;
    padding: 0.5em 0.8em;
    width: 100%;
    max-width: 250px;
    line-height: 1em;
    border: @border;
    float: right;
    @media @mobile {
        float: left;
    }
    span.current {

    }
    ul.sub-select {
        z-index: 9;
        display: none;
        position: absolute;
        list-style: none;
        left: -2px;
        font-size: @font_med;
        top: calc(~"2em + 2px");
        border-right: @border;
        border-left: @border;
        border-bottom: @border;
        width: auto;
        right:-2px;
        padding: 0px;
        max-height: 10.5em;
        overflow-y: scroll;
        span {
            font-size: @font_med;
        }
        li {
            padding: 0.5em 0.8em;
            background: #fff;
            line-height: 1em;
            border-bottom: @border;
            &, a {
                font-size: @font_med;
            }
            &:hover {
                background: #000;
                color: #fff;
            }
        }
        &.active {
            display: block;
        }
    }
}
.tax_link_wrap {
    padding-left: 2.5em;
    width: 100%;
    margin-bottom:3rem;
    font-size: @font_med;
    background: url(/wp-content/uploads/2020/06/pn.png) left center no-repeat;
    background-size: auto 1em;
    .title {
        font-size: @font_med;
    }
}


//프로그램 슬라이드
.slick-slide img {
    width:100%!important;
}
.et_pb_gallery {
    .et_pb_gallery_items {
    .et_pb_gallery_title, .et_pb_gallery_caption {
        display: none;
    }
    & > .et_pb_gallery_item.et_pb_grid_item {
    width: calc(~"25% - 0.75rem");
    margin-right: 0.75rem;
    margin-bottom: 0.75rem;
    clear: none;

    @media @mobile {
        width: calc(~"50% - 0.4rem");
        &:nth-child(2n) {margin-right: 0px;}
    }
    @media @phone {
        width: 100%;
        margin-right: 0px!important;
    }

        }
    }
}

// .admin-bar .et-menu {
//     li.disabled {
//         opacity: 1!important;
//         cursor: default!important;
//         * {
//             display:block!important;
//         }
//         &.et-hover {
//             opacity: 1!important;
//         }
//         a {
//             pointer-events: all!important;
//             color: #000!important;
//         }
//     }
// }
html {
    &.disabled {
        overflow: hidden;
    }
}
body {

    &:not(.admin-bar) {
    .et-menu, #responsive-menu {
    li.disabled {
        opacity: 0.3!important;
        cursor: not-allowed;
        ul.sub-menu {
            display:none;
        }
        &.et-hover {
            opacity: 0.3!important;
        }
        a {
            pointer-events: none;
            color: #000!important;
        }
    }
    }

    .admin_mod {
        display: none!important;
    }
    }
}


.wp-video {
    width: 100%!important;

}
img.mfp-img {
    //max-height: 55vh!important;
}
.mfp-title {
    p {
        width: 100%;
        max-width: 450px;
        font-size: @font_med;
        line-height: 1.5em;
        color: #fff!important;
    }
}
.et_pb_tabs, .archive_tabs {
    border: 0px;
    .archive_tab {
        float: right;
        clear: both;
        overflow: auto;
        -ms-overflow-style: none;
        @media @mobile {
            width: 100%;
        }
    }
    .et_pb_tabs_controls, .archive_tab {
        background: transparent;
        li {
            border: 1px solid #000!important;
            margin-right: 0.5rem;
            @media @phone {
                margin: 0px;
                margin-bottom: 0.5rem;
            }
            &.et_pb_tab_active {
                background: #000;
                a {color: #fff!important;}
            }
            a {
                display: block;
                color: #000!important;
            }
        }
        &:after {
            border: 0px;
        }
    }
    .et_pb_tab {
        padding: 1rem 0;
    }
}
.multi_lang {
    padding: 0.5em;
    vertical-align: top;

    @media @mobile {
        padding: 0.25em;
    }
    display: inline-block;
    &, a {
        font-size: @font_med;
        @media @mobile {
            font-size: @font_large;
        }
    }
}
.et_pb_code_inner {
}
@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
html body #main-content {
.modal_content {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999999;
    overflow-y: scroll;
    background-color: rgba(255,255,255,0.95);
    &.active {
        display: block;
        //animation: fadein 0.3s forwards;
    }
    & > div {
        margin: 0 auto!important;
        width:100%;
        max-width: @low-width;
        position: relative;
        text-align: center;
        display: block;
        float: none;
        padding: 5rem 0;
        @media @mobile {
            padding: 5rem @font_med*2.5;
        }
        .modal-exit {
            background: url(/wp-content/themes/divi-child/img/axe.svg) center center no-repeat;
            width: 1.5em;
            height: 1.5em;
            font-size: @font_large;
            right: -2em;
            position: absolute;
            background-size: contain;
            z-index: 999999999999999999;
            @media @mobile {
                right: 0.5em;
                position: fixed;
                top: 0.5em;
                z-index: 9;
            }
        }

        h1 {
            margin-bottom: 0.5em;
            font-size: @font_large;
        }
        p {
            font-size: @font_med;
        }
    }
}
}
#modal-i {
    position:fixed;
    display: none;
    padding:0.5em;
    font-size: @font_small;
    background: #fff;
    border: @border;
    pointer-events: none;
}
.modal-prev,.modal-next,.modal-exit {
    cursor: pointer;
}
.modal-prev, .modal-next {
    font-size: @font_med;
    display: none;
    z-index: 99999999999;
    position:fixed;
    top:4em;
    bottom:4em;
    height:auto;
    width:2.5em;
    @media @pc {
        width: 5em;
    }
    background: url() center center no-repeat;
    background-size: 1em auto;
    &.active {
        display: block;
    }
}
.modal-prev {
    left:0;
    background-image: url(/wp-content/themes/divi-child/img/arr_left.svg);
}
.modal-next {
    right:0;
    background-image: url(/wp-content/themes/divi-child/img/arr_right.svg);
}
#trp-floater-ls {
    display: none!important;
}
img.mfp-img {
    pointer-events: none;
}

//한영분기
.translatepress-ko_KR {
    .kr_lang {
       display: none;
    }
}
.translatepress-en_US {
    .en_lang {
        display: none;
    }
}