@import url("https://use.typekit.net/gqn4bpe.css");

@key:#0A643F;
@font:#000;
@white:#fff;
@whitegrey:#F5F5F5;

@marg:35px;
@pad:15px;
@rot:-7deg;

@pc-max-width:1350px;
@mobile-width:980px;
@pc-width:@mobile-width+1px;
@phone-width:450px;

@desktop:~"screen and (min-width:@{pc-width})";
@mobile:~"screen and (max-width:@{mobile-width})";
@phone:~"screen and (max-width:@{phone-width})";

* {
    font-family: futura-pt,sans-serif!important;
   }

//수식
.cols-width(@i) {
    @cols:@i;
    @c:1/@cols;
    @cw:100%*@c;

    width:calc(~"@{cw} - "@marg*(@cols - 1)*@c);
}
html,body {
    margin:0px;
}
html {
    background: @whitegrey;
    .screen-reader-text {
        display: none;
    }
    footer {
        & > div {
            width: 95vw;
            margin: 0 auto;
            max-width: @pc-max-width;
        }
        background: @key;
        p,li,a {
            color: @white;
            text-decoration: none;
        }
    }
}

//translatePress
#trp-floater-ls {
    display: none;
}
//레이아웃
div.et_pb_row, #main-content div.et_pb_section {
    padding: 0px;
}
.col-4 {
    @cols:4;
    @c:1/@cols;
    @cw:100%*@c;

    & > div {
        width: calc(~"@{cw} - "@pad*(@cols - 1)*@c);
        margin-right: @pad;
    }
    & > div:last-child {
        margin-right:0px;
    }

}
.col-sidebar {
    @c1: 30%;
    @c2: 100% - @c1;
    
    clear: both;
    overflow: auto;
    & > div {
        float: left;
    }
    & > div:nth-child(1) {width:@c1;margin-right:@marg;}
    & > div:nth-child(2) {width:calc(~"@{c2} - "@marg);}
}

div.et_pb_menu {
    background-color: transparent!important;
}
.et_pb_row, .et_pb_column {
    padding: 0px;
    width: 100%;
}
.et_pb_row {
    clear: both;
    overflow: auto;
    .et_pb_column {
        float: left;
    }
}
.et_pb_row_inner {
    clear: both;
    overflow: auto;
    .et_pb_column_inner {
        float: left;
    }
}
.mobile_nav.closed {
    display: none;
    
}

.gmap {
    width:100%;
    height: 500px;
}

//Header
@headerH:350px;
.header_back {
    @w:150vw;

    position: absolute;
    width:@w;
    height: @headerH;
    top: -@headerH*0.5;
    left: -(@w - 100vw)*0.5;
    z-index:-1;
    background: @key;
    transform:rotate(4deg);
    transform-origin: center;
}
.header {
    position: fixed;
    width:95vw;
    top: 75px;
    padding: 0px!important;
    left: 2.5vw;
    div,p,h1,li,a {
        text-decoration: none;
        color: @white;
    }
    .logo {
        width: 100%;
        max-width: 145px;
        height: auto;
        img {
            width: 100%;
        }
    }

    & > div {
        margin: 0 auto;
        width:100%;
        max-width:@pc-max-width;
    }
    & > div > div {
        float:left;
        
        @col-width:33%;
        @col-width2: 100% - @col-width;
        &:nth-child(1) {
            width:@col-width;
            margin-right: @marg;
        }
        &:nth-child(2) {
            width:calc(~"@{col-width2} - @{marg}");
        }
    }
    .menu {
        ul {
            list-style: none;
            
            li {
                display: inline;
            }
        }
    }
    .top_menu {
        ul {
            text-align: right;
        }
    }
    .menu_col {
        @w:60%;
        & > div:nth-child(1) {width:@w;}
        & > div:nth-child(2) {width:100% - @w;}
    }
    .search_module {
        @w:50px;
        clear: both;
        overflow: auto;
        .s_text,.s_sub {
            float: left;
        }
        .s_text {
            width: calc(~"100% - @{w}");
            box-sizing: border-box;
        }
        .s_sub {
            width: @w;
            height: @w;
            border: 0px;
            background: transparent;
        }
    }
    .multi_lang {
        li {
            display: inline;
            margin-right: @pad;
        }
        .active {
            transform:rotate(@rot);
        }
    }
}
ul {
    padding: 0px;
    width: 100%;
}
#main-content {
    width:95vw;
    margin: 0 auto;
    margin-top: @headerH;
    .container {
        max-width: @pc-max-width;
        margin: 0 auto;
    }
}

//검색화면
.search_items, .tax_wrap {
    width: 100%;
    clear:both;
    overflow: auto;
    .item {
        .cols-width(3);
        float: left;
        box-sizing: border-box;
        margin-right:@marg;
        position: relative;

        @h:250px;
        .thumb {
            width: 100%;
            height:@h;
            margin-bottom: 0px;
            background: url() center center no-repeat;
            background-size: cover;
        }
        .tax {
            width: @h;
            position: absolute;
            bottom: -1.5em;
            transform: rotate(90deg);
            transform-origin: right top;
            text-align: right;
            right: 100%;
            left: auto;
            margin: 0;
            height: 1.5em;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    & > .item:nth-child(3n) {
        margin-right: 0px;
    }
}